name: tenmiku

services:
  database:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      POSTGRES_USER: tenmiku
      POSTGRES_DB: tenmiku
    volumes:
      - database:/var/lib/postgresql/data
    ports:
      - '5432:5432'

  cache:
    image: valkey/valkey:8-alpine
    restart: unless-stopped
    volumes:
      - cache:/data
    ports:
      - '6379:6379'

volumes:
  database:
  cache:
